<section style="text-align: center; justify-content: center; display: flex; flex-flow: row; margin: 35px 0px 0px; position: static; box-sizing: border-box;">
    <!-- <section style="display: inline-block; vertical-align: middle; width: auto; min-width: 5%; max-width: 100%; flex: 0 0 auto; height: auto; align-self: center; margin: 0px 0px 0px 3px; padding: 0px 0px 0px 4px; box-sizing: border-box;">
    <section style="position: static; transform: rotateZ(45deg); -webkit-transform: rotateZ(45deg); -moz-transform: rotateZ(45deg); -o-transform: rotateZ(45deg); box-sizing: border-box;">
    <section style="position: static; box-sizing: border-box;">
    <section style="display: inline-block; width: 35px; height: 35px; vertical-align: top; overflow: hidden; margin: 0px; border-radius: 5px; background-image: linear-gradient(90deg, #0058ea, #009def); box-sizing: border-box;">
    <section style="transform: rotateZ(315deg); -webkit-transform: rotateZ(315deg); -moz-transform: rotateZ(315deg); -o-transform: rotateZ(315deg); box-sizing: border-box;">
    <section style="transform: translate3d(6px, 0px, 0px); -webkit-transform: translate3d(6px, 0px, 0px); -moz-transform: translate3d(6px, 0px, 0px); -o-transform: translate3d(6px, 0px, 0px); margin: -1px 0px 0px; position: static; box-sizing: border-box;">
    <section style="text-align: justify; font-size: 21px; color: #ffffff; box-sizing: border-box;">
    <p style="white-space: normal; margin: 0px; padding: 0px; box-sizing: border-box;"><strong style="box-sizing: border-box;">{v_template_in_date_order}</strong></p>
    </section>
    </section>
    </section>
    </section>
    </section>
    </section>
    </section> -->
    
    <section style="display: inline-block; vertical-align: middle; width: auto; align-self: center; flex: 0 0 auto; min-width: 5%; max-width: 100%; height: auto; padding: 5px 25px 5px 45px; margin: 0px 0px 0px -21px; border-radius: 5px; overflow: hidden; box-shadow: rgba(0, 0, 0, 0.16) 5px 5px 9px 0px; background-image: linear-gradient(90deg, #0058ea, rgba(0, 157, 239, 0.5)); box-sizing: border-box;">
    <section style="text-align: justify; font-size: 17px; color: #ffffff; letter-spacing: 3px; line-height: 1.5; box-sizing: border-box; background-image: linear-gradient(90deg, #186eec, #72c2f6);">
    <p style="white-space: normal; margin: 0px; padding: 0px; box-sizing: border-box;"><span style="font-size: 20px; box-sizing: border-box;"> <strong style="box-sizing: border-box;    text-shadow: 2px 2px 5px #ffffff; font-family: monospace; "> {v_template_in_date_order} ⛥ </strong> <strong style="letter-spacing: 3px; box-sizing: border-box;">{v_template_category} <span style="font-size: 14px; box-sizing: border-box;">/<em style="box-sizing: border-box;"><span style="font-size: 12px; box-sizing: border-box;">NEW</span></em></span></strong></span></p>
    </section>
    </section>
    </section>
    <section style="text-align: center; justify-content: center; display: flex; flex-flow: row; margin: 25px 0px 0px; position: static; box-sizing: border-box;">
    <section style="display: inline-block; width: 95%; vertical-align: top; align-self: flex-start; flex: 0 0 auto; border-radius: 10px; height: auto; padding: 10px 15px; overflow: hidden; background-color: #fffffb; box-shadow: rgba(0, 0, 0, 0.16) 1px 1px 11px 0px; box-sizing: border-box;">
    <section style="text-align: left; justify-content: flex-start; display: flex; flex-flow: row; margin: 15px 0px 0px; position: static; box-sizing: border-box;">
    <section style="display: inline-block; width: auto; vertical-align: middle; align-self: center; flex: 0 0 auto; min-width: 5%; max-width: 100%; height: auto; border-left: 6px solid #0080e8; margin: 0px 5px 0px 0px; padding: 0px 0px 0px 8px; box-sizing: border-box;">
    <section style="text-align: justify; font-size: 18px; line-height: 2; letter-spacing: 1px; box-sizing: border-box;">
    <p style="white-space: normal; margin: 0px; padding: 0px; box-sizing: border-box;"><span style="display: inline-block; background-clip: text; box-sizing: border-box; font-size: 14pt;"><strong style="box-sizing: border-box;">{v_template_title}</strong></span></p>
    </section>
    </section>
    </section>
    <section style="margin: 10px 0px 0px; line-height: 0; position: static; box-sizing: border-box;"></section>
    <section style="justify-content: center; display: flex; flex-flow: row; margin: 0px 0px 25px; position: static; box-sizing: border-box;">
    <section style="display: inline-block; width: 100%; vertical-align: top; align-self: flex-start; flex: 0 0 auto; background-color: rgba(126, 126, 126, 0.05); height: auto; padding: 0px 10px; box-sizing: border-box;">
    <section style="margin: 10px 0px 15px; position: static; box-sizing: border-box;">
    <section style="text-align: justify; font-size: 15px; color: rgba(0, 0, 0, 0.62); letter-spacing: 1.5px; line-height: 2; padding: 0px; box-sizing: border-box;"></section>
    </section>
    <section style="text-align: justify; box-sizing: border-box;">
    <section style="box-sizing: border-box; max-width: 100%; color: #5c5c5c; font-family: 'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: 1px; orphans: 2; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; text-align: justify;">
    <p class="a" style="margin-bottom: 6.0pt; text-indent: 0cm; mso-char-indent-count: 0; punctuation-wrap: simple; word-break: break-all;"><span style="font-size: 12.0pt; line-height: 125%; font-family: '微软雅黑',sans-serif;">{v_template_abstract}</span></p>
    <p class="a" style="margin-bottom: 6.0pt; text-indent: 0cm; mso-char-indent-count: 0; punctuation-wrap: simple; word-break: break-all;"><span style="font-family: 'Microsoft YaHei';"><span lang="EN-US"><span style="font-size: 12.0pt; line-height: 125%; font-family: '微软雅黑',sans-serif; mso-bidi-font-family: Arial; mso-bidi-theme-font: minor-bidi; mso-font-kerning: 1.0pt; mso-ligatures: standardcontextual; mso-ansi-language: EN-US; mso-fareast-language: ZH-CN; mso-bidi-language: AR-SA;">参考来源：<span lang="EN-US"><a href="{v_template_url}">{v_template_url}</a></span></span><!--EndFragment-->&nbsp;</span></span></p>
    <!--EndFragment--></section>
    </section>
    <section style="justify-content: center; display: flex; flex-flow: row; position: static; box-sizing: border-box;">
    <section style="display: inline-block; vertical-align: middle; width: 45%; align-self: center; flex: 0 0 auto; height: auto; box-sizing: border-box;">
    <section style="margin: 10px 0px 0px; line-height: 0; position: static; box-sizing: border-box;"></section>
    </section>
    </section>
    </section>
    </section>
    </section>
    </section>
    <p style="white-space: normal; margin: 0px; padding: 0px; box-sizing: border-box;">&nbsp;</p>
